*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.ipr
*.iws
.idea/
.classpath
.project
bin/
gen/
out/
target/
local.properties
drishti-app/tmp/
classes/
tmp/
project.properties
.DS_Store
.settings
build/
.gradle
opensrp-reveal/fabric.properties
opensrp-reveal/reports/
opensrp-reveal/jacoco.exec
jacoco.exec
~                 
